<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Homer</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="users">Users</a></li>
      <li><a routerLink="posts">Posts</a></li>
      <li><a routerLink="comments">Comments</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">

      <div class="grey-text text-lighten-4 center">
        © 2018  Homer
      </div>
    </div>
  </div>
</footer>
